<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.inferance.StudentInferace">

    <sql id="all_clonum">
        id,name,phone
    </sql>

    <select id="selectById" parameterType="int" resultMap="studentMap2">
        select <include refid="all_clonum"/> from student where id=#{id}
    </select>

    <select id="getStudentByName" resultType="student">
        SELECT id,name,phone FROM student where name like concat(#{name, javaType=string, jdbcType=VARCHAR, typeHandler=com.zy.typehandle.MyStringTypeHandle},'%');
    </select>

    <select id="getStudentByMap" parameterType="map" resultType="student">
        SELECT id,name,phone from student where name like concat(#{name},'%') and
        phone like concat(#{phone},'%')
    </select>

    <resultMap id="studentMap" type="student">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
    </resultMap>

    <resultMap id="studentMap2" type="student">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <collection property="courses" column="id" select="com.zy.inferance.CourseMapper.getCourseByStudentId"/>
    </resultMap>

    <select id="getStudentByPhone"  resultMap="studentMap">
        SELECT id,name,phone from student where phone like concat(#{phone},'%')
    </select>

    <insert id="insertStudent" parameterType="student" keyProperty="id" useGeneratedKeys="true">
        insert into student(name,phone) VALUES (#{name},#{phone})
    </insert>

</mapper>